<%- include("partials/header") -%>

<h1>Home</h1>
<p>
    <%= startingText %> 
</p>

 <% postedData.forEach(data => { %>
<h1><%= data.blog %></h1>

<p>
       <%=data.message.slice(0, 100)+"..."%> <a href="<%= data.blog %>">Read more</a>
    <% }); %>   
</p>




<%- include("partials/footer") -%> 